.form-login {
    display: flex;
    flex-direction: column;
    width: 50vh;
    padding: 5rem;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px lightgray;
    background-color: #fff;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
}

.input-group label {
    font-size: 14px;
    font-weight: 400;
}

.form-input {
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.form-input:focus {
    outline: none;
    border: 1px solid rgb(90, 96, 255);
    box-shadow: 0.5px 0.5px 2px 2px rgb(210, 212, 255);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f9f9f9;
}

.btn {
    margin-top: 20px;
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: rgb(100, 185, 100);
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.btn:hover {
    background: rgb(75, 140, 75);
    cursor: pointer;
}

.alert {
    color: rgb(140, 0, 0);
    background: rgb(251, 160, 160);
    padding: 0 5px 0 5px;
    margin: 0;
    border-radius: 5px;
}
